{%- doc -%}
  Renders a custom links column in the mega menu.

  @param {string} heading - Column heading text.
  @param {string} heading_url - URL for the heading link.
  @param {string} link_1_url through link_10_url - URLs for links 1-10.
  @param {string} link_1_label through link_10_label - Labels for links 1-10.
  @param {string} view_all_url - URL for view all link.
  @param {string} view_all_label - Label for view all link.
  @param {string} column_span - Number of grid columns to span (1, 2, or 3).
{%- enddoc -%}

{%- liquid
  assign col_span = column_span | default: 1
  assign has_links = false
  if link_1_url != blank and link_1_label != blank
    assign has_links = true
  elsif link_2_url != blank and link_2_label != blank
    assign has_links = true
  elsif link_3_url != blank and link_3_label != blank
    assign has_links = true
  elsif link_4_url != blank and link_4_label != blank
    assign has_links = true
  elsif link_5_url != blank and link_5_label != blank
    assign has_links = true
  elsif link_6_url != blank and link_6_label != blank
    assign has_links = true
  elsif link_7_url != blank and link_7_label != blank
    assign has_links = true
  elsif link_8_url != blank and link_8_label != blank
    assign has_links = true
  elsif link_9_url != blank and link_9_label != blank
    assign has_links = true
  elsif link_10_url != blank and link_10_label != blank
    assign has_links = true
  endif
-%}

{% if has_links or heading != blank %}
  <li class="mega-menu__column mega-menu__column--span-{{ col_span }}">
    <div>
      {% if heading != blank %}
        {% if heading_url != blank %}
          <a href="{{ heading_url }}" class="mega-menu__link mega-menu__link--parent">
            <span class="wrap-text">{{ heading }}</span>
          </a>
        {% else %}
          <span class="mega-menu__link mega-menu__link--parent">
            <span class="wrap-text">{{ heading }}</span>
          </span>
        {% endif %}
      {% endif %}
      <ul class="list-unstyled">
        {% if link_1_url != blank and link_1_label != blank %}
          <li>
            <a href="{{ link_1_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_1_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_2_url != blank and link_2_label != blank %}
          <li>
            <a href="{{ link_2_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_2_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_3_url != blank and link_3_label != blank %}
          <li>
            <a href="{{ link_3_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_3_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_4_url != blank and link_4_label != blank %}
          <li>
            <a href="{{ link_4_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_4_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_5_url != blank and link_5_label != blank %}
          <li>
            <a href="{{ link_5_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_5_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_6_url != blank and link_6_label != blank %}
          <li>
            <a href="{{ link_6_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_6_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_7_url != blank and link_7_label != blank %}
          <li>
            <a href="{{ link_7_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_7_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_8_url != blank and link_8_label != blank %}
          <li>
            <a href="{{ link_8_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_8_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_9_url != blank and link_9_label != blank %}
          <li>
            <a href="{{ link_9_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_9_label }}</span>
            </a>
          </li>
        {% endif %}
        {% if link_10_url != blank and link_10_label != blank %}
          <li>
            <a href="{{ link_10_url }}" class="mega-menu__link">
              <span class="wrap-text">{{ link_10_label }}</span>
            </a>
          </li>
        {% endif %}
      </ul>
      {% if view_all_url != blank and view_all_label != blank %}
        <a href="{{ view_all_url }}" class="mega-menu__link mega-menu__view-all">
          <span class="wrap-text">{{ view_all_label }}</span>
          <span class="mega-menu__view-all-arrow" aria-hidden="true">→</span>
        </a>
      {% endif %}
    </div>
  </li>
{% endif %}
